@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Raleway:wght@100;400&family=Rock+3D&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Source+Sans+Pro&display=swap");

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.index {
  font-family: "Raleway", sans-serif;
}

body {
  background-attachment: fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.index {
  background-image: url("bilder/alps.jpg");
}

body.pistkartor {
  background-image: url("bilder/vemdalen_lift.jpg");
}

#pistkartor-bild {
  width: 1024px;
  height: 681.5px;
}

#pistkartor-bild:hover {
  width: 1048px;
  height: 694px;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  height: 220vh;
  width: 64vw;
  background-color: white;
}

button {
  border: 1px solid #000;
  color: #000;
  padding: 8px 50px;
  border-radius: 50px;
  text-decoration: none;
  background-color: rgb(185, 255, 246);
  margin-left: 20px;
  margin: 5vh 0 5vh 0;
}

.skiduthyrning {
  width: 796px;
  flex: 100%;
  display: flex;
}

.skidskola {
  width: 796px;
  flex: 100%;
  display: flex;
}

.uthyrningtext {
  height: 400px;
  width: 400px;
  margin: 0 40px;
  text-align: justify;
  padding: 7px;
}

.skidskolatext {
  height: 400px;
  width: 400px;
  margin: 0 40px;
  text-align: justify;
  padding: 7px;
}

#skidorimg {
  width: 400px;
  object-fit: cover;
  margin-right: -4px;
  padding: 10px;
}

header {
  list-style: none;
  font-size: 16px;
  box-shadow: 0px 2px 2px rgb(73, 73, 73);
  background-color: rgb(255, 255, 255);
  width: 100vw;
  padding: 25px;
  position: sticky;
  top: 0;
  background-color: rgb(252, 252, 252);
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}

.menu-text {
  margin-left: 6px;
}

header.pistkartor {
  margin-bottom: 280px;
}

nav {
  display: flex;
}

.title {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.skiduthyrning-vemdalen {
  justify-content: center;
}

.icon {
  font-size: 1.5em;
  color: darkslategray;
}

#profilbild {
  padding-left: 49.27px;
}

#vemdalenutsikt {
  width: 800px;
  padding: 20px;
}

.pistkartor-link {
  text-align: center;
  margin-top: 20px;
}

.pistkartor-main {
  width: 100vw;
  height: 370vh;
  background-color: white;
  align-items: center;
}

.title-vemdalen {
  text-align: center;
  padding: 25px;
  font-family: "Orelega One", cursive;
  font-size: 1.8em;
  color: rgb(54, 54, 54);
  text-shadow: 2px 2px 2px;
  border-bottom: solid rgb(72, 71, 71);
}

.berg-titlar {
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(72, 72, 72);
  font-family: "Montserrat", sans-serif;
}

.kartor {
  width: 80vw;
  margin-left: 10vw;
}

body ul {
  display: flex;
  list-style: none;
}

body li {
  list-style: none;
}

.input {
  width: 14vw;
  height: 7vh;
  font-size: 18px;
  border-radius: 15px;
}

input[type="text"] {
  border: rgb(143, 143, 143) solid;
  padding: 5px;
}

input[type="text"]:active {
  border: rgb(97, 97, 97) solid;
}

input[type="text"]:hover {
  border: rgb(115, 115, 115) solid;
}

.skiduthyrning-form {
  padding: 15px;
}

.form-label {
  font-size: 1.5em;
  color: rgb(78, 78, 78);
  font-family: "Source Sans Pro", sans-serif;
}

#skiduthyrning-select {
  height: 67px;
  width: 270px;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  font-size: 0.7em;
  color: rgb(78, 78, 78);
  border: rgb(143, 143, 143) solid;
}

#skiduthyrning-select:hover {
  border: rgb(115, 115, 115) solid;
}

.skiduthyrning-select {
  font-size: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  padding: 15px;
} 
