@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Raleway:wght@100;400&family=Rock+3D&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Source+Sans+Pro&display=swap");

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.index {
  font-family: "Raleway", sans-serif;
}

body {
  background-attachment: fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.index-html {
  background-image: url("../css/alps.jpg");
}

body.pistkartor-html {
  background-image: url("../css/vemdalen_lift.jpg");
}

body.skiduthyrning-html {
  background-image: url("../css/alps2.png");
}

#pistkartor-bild {
  width: 1024px;
  height: 681.5px;
}

#vemdalenutsikt:hover {
  opacity: 0.8;
}

#vemdalenutsikt {
  transition: 0.5s ease;
  width: 720px;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  height: 1450px;
  width: 810px;
  background-color: white;
}

.bokaknapp {
  border: none;  
  border-radius: 50px;
  text-decoration: none;
  background-color: rgb(233, 233, 233);
  margin-left: 20px;
  margin: 1vh 0 5vh 0;
  height: 35px;
}

.bokaknapp:hover {
  background-color: rgb(215, 215, 215);
}

.boka-a-tag {
  padding: 0px 20px;
  border-radius: 50px;
}

.skiduthyrning {
  width: 796px;
  flex: 100%;
  display: flex;
}

.skidskola {
  width: 796px;
  flex: 100%;
  display: flex;
}

.uthyrningtext {
  height: 400px;
  width: 400px;
  margin: 0 40px;
  text-align: justify;
  padding: 7px;
}

.skidskolatext {
  height: 400px;
  width: 400px;
  margin: 0 40px;
  text-align: justify;
  padding: 7px;
}

#skidlärare-img {
  width: 400px;
  object-fit: cover;
  margin-right: -4px;
  padding: 10px;
  transition: 0.5s ease;
}

#skidlärare-img:hover {
  opacity: 0.8;
}

#skidor-img {
  width: 400px;
  object-fit: cover;
  margin-right: -4px;
  padding: 10px;
  transition: 0.5s ease;
}

#skidor-img:hover {
  opacity: 0.8;
}

header {
  list-style: none;
  font-size: 16px;
  box-shadow: 0px 2px 2px rgb(73, 73, 73);
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 15px;
  position: sticky;
  top: 0;
  background-color: rgb(255, 255,);
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}

.menu-text {
  margin-left: 10px;
  margin-top: 3px;
}


header.pistkartor {
  margin-bottom: 280px;
}

nav {
  display: flex;
}

.title {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.skiduthyrning-vemdalen {
  justify-content: center;
}

.icon {
  font-size: 1.5em;
  color: darkslategray;
}

#profilbild {
  padding-left: 49.27px;
}



.pistkartor-link {
  text-align: center;
  margin-top: 20px;
}

.pistkartor-main {
  width: 100vw;
  height: 2350px;
  background-color: white;
  align-items: center;
}

#title-vemdalen {
  text-align: center;
  padding: 25px;
  font-family: "Orelega One", cursive;
  font-size: 3em;
  color: rgb(54, 54, 54);
  border-bottom: solid rgb(72, 71, 71);
}

.berg-titlar {
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(72, 72, 72);
  font-family: "Montserrat", sans-serif;
}

.kartor {
  width: 80vw;
  margin-left: 10vw;
}

body ul {
  display: flex;
  list-style: none;
}

li {
  list-style: none;
}

.input {
  width: 14vw;
  height: 7vh;
  font-size: 18px;
  border-radius: 15px;
}

input[type="text"] {
  border: rgb(143, 143, 143) solid;
  padding: 5px;
}

input[type="text"]:active {
  border: rgb(97, 97, 97) solid;
}

input[type="text"]:hover {
  border: rgb(115, 115, 115) solid;
}

.skiduthyrning-form {
  padding: 15px;
}

.form-label {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  font-family: "Source Sans Pro", sans-serif;
}

#skiduthyrning-select {
  height: 67px;
  width: 270px;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  font-size: 0.8em;
  color: rgb(78, 78, 78);
  border: rgb(143, 143, 143) solid;
}

#skiduthyrning-select:hover {
  border: rgb(115, 115, 115) solid;
}

.skiduthyrning-select {
  font-size: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  padding: 15px;
}

.blankspace {
  height: 140px;
}

footer {
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  width: 100%;
  bottom: 0;
  position: fixed;
  box-shadow: 3px 0px 5px rgb(184, 183, 183);
  height: 80px;
}



.social_media {
  margin-top: 7px;
  margin-left: 75px;
  padding: 20px;
  height: 20px;
  width: 20px;
  object-fit: cover;
  font-size: 1.25em;
  
}



/*hamburger*/

.navbar {
  display: flex;
}

.nav-menu {
  display: flex;
  box-shadow: 3px 0px 5px rgb(184, 183, 183);
}



.hamburger {
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(0, 71, 88);
}

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 60px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 20%;
    text-align: left;
    transition: 0.3s;
    height: 100%;
  }

  .nav-item {
  margin-top: 25px;
  margin-left: 25px;
    
  }

  .nav-item-sidor {
    margin-top: 25px;
    margin-left: 40px;
    
    }

  .nav-link {
    transition: 0.3s ease;
    color: rgb(46, 88, 99);
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.3em;
    padding: 13px;
    border-radius: 20px;
    border: none;
  }


  
  .nav-link:hover {
    color: rgb(0, 132, 165);
    
    background-color: rgb(240, 239, 239);

  }
  
  #border {
    margin-top: 15px;
    border-bottom: solid 1px rgb(184, 184, 184);

  }


.fa-solid {
  margin-right: 10px;
}

  .nav-menu.active {
    left: 0;
  }



  @media screen and (min-width: 1600px) {
    .index-main {
      width: 820px;
    }
    
    .nav-menu {
      width: 15%;
    }

    .pistkartor-main {
      height: 2350px;
    }
    
  }

  @media screen and (max-width: 1100px) {
    .nav-menu {
      width: 25%;
    }

  }

  @media screen and (max-width: 800px) {
    .social_media {
      margin-left: 100px;
    }

    .blankspace {
      display: none
    }

    .skidskola {
      width: 720px;
      margin-bottom: 100px;
    }

    .skiduthyrning {
      width: 720px;
      margin-bottom: 100px;
    }

    .index-main {
      width: 100%;
      height: 130vh;
    }

    .nav-menu {
      width: 35%;
    }
    .nav-link {
      font-size: 1.4em;
    }

    #vemdalenutsikt {
      width: 600px;
  }   

  #title-vemdalen {
      font-size: 2.2em
  }



}
  
  @media screen and (max-width: 580px) {

    .skidskola {
      margin-bottom: 0px;
    }

    .skiduthyrning {
      margin-bottom: -80px;
    }


    .index-main {
      width: 100%;
    }

    #vemdalenutsikt {
      width: 400px;
  }

    .index-bilder {
      display: none;
    }

    .nav-menu {
      width: 46%;
    }
    .nav-link {
      font-size: 1.6em;
    }

    .menu-text {
      display: none;
    }

    header.pistkartor {
      margin-bottom: 0px;
    }

  }